      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div clas="container">
          <a class="navbar-brand" href="">
            <i class="fa fa-paw fa-4"></i>
            <div class="content-hidden">Mascotas</div>
          </a>
          <ul class="nav navbar-nav collapsed pull-xs-right">
            <li class="nav-item">
              <%= link_to user_path, :class => 'nav-link' do%>
                <%= fa_icon "home"%> <div class="content-hidden">Inicio</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to search_pet_path(kms: 5), :class => 'nav-link' do%>
                <%= fa_icon "search"%> <div class="content-hidden">Buscar</div>
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to my_pets_pet_path, :class => 'nav-link' do%>
                <%= fa_icon "list"%> <div class="content-hidden">Mis Publicaciones</div>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to new_pet_path, class:"nav-link" do %>
                <%= fa_icon "pencil-square" %> <div class="content-hidden">Publicar</div>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to edit_user_path, class:"nav-link" do %>
                <%= fa_icon "pencil" %> <div class="content-hidden">Editar Cuenta</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: 'delete', class:"nav-link" do %>
                <%= fa_icon "sign-out" %> <div class="content-hidden">Salir</div>
              <% end %>
            </li>
          </ul>
        </div><!-- bs-example-navbar-collapse-1 -->
      </nav>
      
      <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container">

            <div class="alert alert-success" role="alert" hidden>
              <%= notice %>
            </div>

            <br/>

            <nav>
              <ul class="pager">
                <li><%= link_to '« Regresar', pets_path %></li>          
              </ul>
            </nav>

            <center><h3>Mis mascotas</h3></center>
            
            <div class="row">
              <% @pets.each do |pet| %>
                <div class="col-sm-6 col-md-4" style="margin-top:20px;">
                  <hr class="post"/>
                  <div class="card-image">
                    <center> <%=image_tag pet.imagen.thumb.url, class: "card-img-top" %> </center>
                  </div>
                  <div class="card-block">
                    <h4 class="card-title"><%= pet.name %></h4>
                    <p><%= pet.specie %>: <%= pet.race %></p>
                    <%if pet.adpted == false %>
                      <p class="card-text message"><%= pet.description %></p>
                    <%else%>
                      <p class="card-text message text-success">
                        ¡YA TIENE HOGAR! =)
                      </p>
                    <%end%>
                    <%= link_to 'Ver publicación »', pet, class:"btn btn-primary" %>
                  </div>
                </div>
              <% end %>
            </div>

            <center>
              <%= paginate(@pets) %>
            </center>

          </div><!-- /#page-content-wrapper -->
        </div><!-- /#wrapper -->
      </div>