      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div clas="container">
          <a class="navbar-brand" href="">
            <i class="fa fa-rocket fa-4"></i>
            <div class="content-hidden">Mascotas</div>
          </a>
          <ul class="nav navbar-nav collapsed pull-xs-right">
            <li class="nav-item">
              <%= link_to user_path, :class => 'nav-link' do%>
                <%= fa_icon "home"%> <div class="content-hidden">Inicio</div>
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to search_pet_path(kms: 5), :class => 'nav-link' do%>
                <%= fa_icon "search"%> <div class="content-hidden">Buscar</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to my_pets_pet_path, :class => 'nav-link' do%>
                <%= fa_icon "list"%> <div class="content-hidden">Mis Publicaciones</div>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to new_pet_path, class:"nav-link" do %>
                <%= fa_icon "pencil-square" %> <div class="content-hidden">Publicar</div>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to edit_user_path, class:"nav-link" do %>
                <%= fa_icon "pencil" %> <div class="content-hidden">Editar Cuenta</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: 'delete', class:"nav-link" do %>
                <%= fa_icon "sign-out" %> <div class="content-hidden">Salir</div>
              <% end %>
            </li>
          </ul>
        </div><!-- bs-example-navbar-collapse-1 -->        
      </nav>

      <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="alter">        
            <center> <%=image_tag @pet.imagen.thumb.url, class: "card-img-top" %> </center>
              <center>
                <table>
                <tr>
                  <th>Datos Mascota</th>
                </tr>
                <tr>
                  <td>
                    <%=@pet.name%>
                  </td>
                </tr>
                <tr>
                  <td>
                    Edad <%=@pet.age%> años
                  </td>
                </tr>            
                <tr>
                  <td>
                    <%=@pet.specie%> 
                  </td>
                </tr>            
              </table>         
            </center>
            <center>
              <div class="arrow-down"></div>
            </center>
            <center>
              <table>
                <tr>
                  <th>Nuevo Dueño</th>
                </tr>
                <tr>
                  <td>
                    <%=@user.given_name%>
                    <%=@user.first_surname%>
                    <%=@user.second_surname%>
                  </td>
                </tr>
              </table>
            </center>        
          </div>        
        </div>                
      </div>        