      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div clas="container">
          <a class="navbar-brand" href="">
            <i class="fa fa-paw fa-4"></i>
            <div class="content-hidden">Mascotas</div>
          </a>
          <% if current_user %> <!-- Si el usuario inicio sesion -->
          <ul class="nav navbar-nav collapsed pull-xs-right">
            <li class="nav-item">
              <%= link_to user_path, :class => 'nav-link' do%>
                <%= fa_icon "home"%> <div class="content-hidden">Inicio</div>
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to search_pet_path(kms: 5), :class => 'nav-link' do%>
                <%= fa_icon "search"%> <div class="content-hidden">Buscar</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to my_pets_pet_path, :class => 'nav-link' do%>
                <%= fa_icon "list"%> <div class="content-hidden">Mis Publicaciones</div>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to new_pet_path, class:"nav-link" do %>
                <%= fa_icon "pencil-square" %> <div class="content-hidden">Publicar</div>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to edit_user_path, class:"nav-link" do %>
                <%= fa_icon "pencil" %> <div class="content-hidden">Editar Cuenta</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: 'delete', class:"nav-link" do %>
                <%= fa_icon "sign-out" %> <div class="content-hidden">Salir</div>
              <% end %>
            </li>
          </ul>
          <% else %> <!-- Si el usuario no inicio sesion -->
          <ul class="nav navbar-nav collapsed pull-xs-right">
            <li class="nav-item">
              <%= link_to root_path, :class => 'nav-link' do%>
                <%= fa_icon "home" %> <div class="content-hidden">Inicio</div>
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to search_pet_path(kms: 5), :class => 'nav-link' do%>
                <%= fa_icon "search"%> <div class="content-hidden">Buscar</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, :class => 'nav-link' do%>
                <%= fa_icon "sign-in" %> <div class="content-hidden">Ingresa</div>
              <% end %>
            </li>
          
            <li class="nav-item">
              <%= link_to new_user_registration_path, class:"nav-link" do %>
                <%= fa_icon "pencil-square-o" %> <div class="content-hidden">Registrate</div>
              <% end %>
            </li>
          </ul>
          <% end %>
        </div><!-- bs-example-navbar-collapse-1 -->
      </nav>

      <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-offset-2 col-md-offset-3 col-lg-offset-4 col-xs-12 col-sm-8 col-md-6 col-lg-4"> 
                <br/>
                <br/>
                <h3 class="omb_authTitle" style="text-align:center">Encuentra un amigo</h3>
                <%= form_tag(search_pet_path, method: "get") do %>
                  <%= label_tag(:kms, "Radio en kms:") %> 
                  <output name="kmsOutput" id="kmsOutputId"> <%= @kms %> </output>
                  <div class="form-group">
                    <%= range_field_tag(:kms, @kms, in: 5..20) %>
                  </div>
                  <div class="form-group">
                    <center>
                      <%= submit_tag("Buscar", class: 'btn btn-primary') %>
                    </center>
                  </div>
                <% end %>
              </div>
            </div>

            <br/>
            <br/>
            <h4 class="omb_authTitle" style="text-align:center">Amigos en <%= @kms %> kilometros</h4>

            <% if @pets != [] %>
            <div class="row">
              <div class="col-sm-offset-1 col-sm-10">
                <div id="map" style="width:100%; height:450px; margin-bottom:50px;"></div>
              </div>
            </div>
            <% else %>
            No se encontraron amigos con este rango de busqueda
            <% end %>

          </div>
        </div>
      </div><!-- /#wrapper -->  

      <script src="//maps.google.com/maps/api/js?v=3.23&sensor=false&client=&key=&libraries=geometry&language=&hl=®ion="></script>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>

      <script type="text/javascript">
      $('#kms').on('input', function(){
        $('#kmsOutputId').text( $('#kms').val() );
      });
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>
