      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div clas="container">
          <a class="navbar-brand" href="">
            <i class="fa fa-paw fa-4"></i>
            <div class="content-hidden">Mascotas</div>
          </a>
          <% if current_user %> <!-- Si el usuario inicio sesion -->
          <ul class="nav navbar-nav collapsed pull-xs-right">
            <li class="nav-item">
              <%= link_to user_path, :class => 'nav-link' do%>
                <%= fa_icon "home"%> <div class="content-hidden">Inicio</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to search_pet_path(kms: 5), :class => 'nav-link' do%>
                <%= fa_icon "search"%> <div class="content-hidden">Buscar</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to my_pets_pet_path, :class => 'nav-link' do%>
                <%= fa_icon "list"%> <div class="content-hidden">Mis Publicaciones</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_pet_path, class:"nav-link" do %>
                <%= fa_icon "pencil-square" %> <div class="content-hidden">Publicar</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to edit_user_path, class:"nav-link" do %>
                <%= fa_icon "pencil" %> <div class="content-hidden">Editar Cuenta</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: 'delete', class:"nav-link" do %>
                <%= fa_icon "sign-out" %> <div class="content-hidden">Salir</div>
              <% end %>
            </li>
          </ul>
          <% else %> <!-- Si el usuario no inicio sesion -->
          <ul class="nav navbar-nav collapsed pull-xs-right">
            <li class="nav-item">
              <%= link_to root_path, :class => 'nav-link' do%>
                <%= fa_icon "home" %> <div class="content-hidden">Inicio</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to search_pet_path(kms: 5), :class => 'nav-link' do%>
                <%= fa_icon "search"%> <div class="content-hidden">Buscar</div>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, :class => 'nav-link' do%>
                <%= fa_icon "sign-in" %> <div class="content-hidden">Ingresa</div>
              <% end %>
            </li>
          
            <li class="nav-item">
              <%= link_to new_user_registration_path, class:"nav-link" do %>
                <%= fa_icon "pencil-square-o" %> <div class="content-hidden">Registrate</div>
              <% end %>
            </li>
          </ul>
          <% end %>
        </div> <!-- fin de nav -->
      </nav>

      
      <br/><br/> <!-- Agregar espacio entre el header y body--> 

      <nav>
        <ul class="pager">
          <li><%= link_to '« Inicio', root_path %></li>
        </ul>
      </nav>

      <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container">

            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-5">
                <center>
                   <%=image_tag @pet.imagen.url, class: "imagen-mascota" %>
                </center>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-7">
                <h2 style="text-align:center"><strong><%= @pet.name %></strong></h2>  

                <div class="col-lg-offset-1 col-sm-12 col-lg-10">
                  <p>
                  <% if @pet.new_owner then owner = User.find(@pet.new_owner) else owner = User.find(@pet.user_id) end %>
                  <% if @pet.new_owner %>
                    <div class="alert alert-info" role="alert"> Esta mascota fue adoptada
                    </div>
                    <strong>Nuevo Dueño: </strong> <%= owner.given_name %>
                  <% else %><!-- Show owner's name -->
                    <strong>Dueño: </strong> <%= owner.given_name %>
                  <% end %>
                  </p>
                  <p style="text-align: justify">
                    <strong>Especie: </strong> <%= @pet.specie %>
                    <strong>Raza: </strong> <%= @pet.race %>
                    <strong>Sexo: </strong> <%= @pet.sex %>
                  </p>
                  <p>
                    <strong>Descripción: </strong> <%= @pet.description %>
                  </p>
                  <p style="text-align:center">
                    <strong>No. de Interesados <%= @pet.followers_count %></strong> 
                  </p>
                </div>
              </div>
              <div class="col-lg-offset-1 col-sm-12 col-lg-10" style="text-align:center">
                <p>
                  <strong >Edad: </strong> <%= @pet.age %> <br/>
                  <strong>Tamaño: </strong> <%= @pet.height %> <br/>
                  <% if @pet.sterilization? then sterilization = 'Sí' else sterilization =  'No' end %>
                  <strong>Esterilizado: <%= sterilization  %></strong> <br/>
                  <strong>Direccion: </strong> <%= owner.address %>
                </p>
                <p style="text-align:center">
                  <% if user_signed_in? %> <!-- If is logged in -->
                    <% if current_user.id == @pet.user_id and !@pet.new_owner %> <!-- Is the owner but not new owner -->
                      <%= link_to list_interested_pet_path(id: @pet), :class => 'btn btn-secondary' do %>
                        <%= fa_icon "users" %> Ver Interesados
                      <% end %> <!-- Can see list of interested -->
                      <%= link_to edit_pet_path(@pet), :class => 'btn btn-secondary' do %>
                        <%= fa_icon "pencil-square" %> Editar
                      <% end %> <!-- Can edit -->
                    <% else %>
                      <% if User.find(current_user.id).following?(@pet) %> <!-- Isn't owner and is interested in pet -->
                        <p style="text-align: center">
                          Esta mascota te interesa puedes dejar de seguirla o mandar solicitud, solo puedes mandar una solicitud a la vez, si ya enviaste una ya no podras mandar mas a otras mascotas
                        </p>
                        <% if Solicitud.where(id: current_user) == [] %> <!-- Interested and solicitud sent -->
                          <%= link_to desinteresado_path(id: @pet),  :class => 'btn btn-secondary' do %>
                            <%= fa_icon "times" %> Ya no me interesa
                          <% end %> <!-- Uninterest -->
                          <%= link_to new_solicitud_path(id: @pet), :class => 'btn btn-secondary' do %>
                            <%= fa_icon "arrow" %> Llenar solicitud
                          <% end %> <!-- Send solicitud -->

                        <% else %> <!-- Solicitud sent -->
                          <%= link_to desinteresado_path(id: @pet), :class => 'btn btn-secondary' do %>
                            <%= fa_icon "times" %> Ya no me interesa
                          <% end %> <!-- Uninterest -->
                          Ya has enviado una solicitud
                        <% end %>
                      <% else %> <!-- Not interested -->
                        <% if current_user.id != @pet.user_id %> <!-- Logged in and not interested -->
                          <%= link_to interesado_path(id: @pet), :class => 'btn btn-secondary' do %>
                            <%= fa_icon "paw" %> Me interesa
                          <% end %> <!-- Uninterest -->
                        <% end %>
                      <% end %>
                    <%end%>
                  <% else %>
                    Debes registrarte para poder adoptar
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div><!-- /#page-content-wrapper -->
      </div><!-- /#wrapper -->