<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @solicitud.nombre %>
</p>

<p>
  <strong>Ocupacion:</strong>
  <%= @solicitud.ocupacion %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @solicitud.edad %>
</p>

<p>
  <strong>Por que quiero una mascota :</strong>
  <%= @solicitud.por_que %>
</p>

<p>
  <strong>Como considero a mi mascota:</strong>
  <%= @solicitud.consideras %>
</p>

<p>
  <strong>Experiencia cuidando mascotas:</strong>
  <%= @solicitud.experiencia %>
</p>

<p>
  <strong>Actividades que realizaria con mi mascota:</strong>
  <%= @solicitud.actividades %>
</p>

<p>
  <strong>Conosco los gastos economicos:</strong>
  <%= @solicitud.gastos %>
</p>

<p>
  <strong>Vivo en :</strong>
  <%= @solicitud.vivienda %>
</p>

<p>
  <strong>La mascota dormiria en :</strong>
  <%= @solicitud.dormir %>
</p>

<p>
  <strong>Si me mudara mi mascota :</strong>
  <%= @solicitud.mudarse %>
</p>

<p>
  <strong>Estoy dispuesto a que la mascota se adapte a su nuevo entorno :</strong>
  <%= @solicitud.ajuste %>
</p>