<p id="notice"><%= notice %></p>

<h1>Listing Solicituds</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ocupacion</th>
      <th>Edad</th>
      <th>Por que</th>
      <th>Consideras</th>
      <th>Experiencia</th>
      <th>Actividades</th>
      <th>Gastos</th>
      <th>Vivienda</th>
      <th>Dormir</th>
      <th>Mudarse</th>
      <th>Ajuste</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicituds.each do |solicitud| %>
      <tr>
        <td><%= solicitud.nombre %></td>
        <td><%= solicitud.ocupacion %></td>
        <td><%= solicitud.edad %></td>
        <td><%= solicitud.por_que %></td>
        <td><%= solicitud.consideras %></td>
        <td><%= solicitud.experiencia %></td>
        <td><%= solicitud.actividades %></td>
        <td><%= solicitud.gastos %></td>
        <td><%= solicitud.vivienda %></td>
        <td><%= solicitud.dormir %></td>
        <td><%= solicitud.mudarse %></td>
        <td><%= solicitud.ajuste %></td>
        <td><%= link_to 'Show', solicitud %></td>
        <td><%= link_to 'Edit', edit_solicitud_path(solicitud) %></td>
        <td><%= link_to 'Destroy', solicitud, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitud', new_solicitud_path %>
